{% extends "padre.html" %}

{% block title%} miPlantilla saludo {% endblock %}

{% block content %} 
    <h1>
        <!--aqui pasamos el valor del modelo. en Python se llaman diccionarios-->
        mi primera plantilla. Hola {{nombre_persona|upper}} {{apellido_persona}} {{apellido2_persona}}
    </h1>    

    <br>
    <h2>
        aqui estamos probando con objetos: hola {{objeto_valor.nombre.upper}}
    </h2>
    <h3>
        <p><strong>Temas a ver:</strong></p>
        <p>
            <ul>
                <!-- miramos si hay datos -->
                {# esto tambien es un comentario #}
                {% if temas %}
                    {% for elTema in temas%}
                        {% if elTema == 'Plantillas' %}
                            <li>****** comidaaaaaaa ******</li>
                        {% else %}
                            <li>{{elTema}}</li>
                            <li>{{elTema|first|lower}}</li>
                        {% endif %}                    
                    {% endfor %}
                {% else %}
                    <p>no hay datos</p>
                {% endif %}
            </ul>
        </p>
    </h3>
    
{% endblock %}